/* Reset de estilos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #019a13;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 8px;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8ee080;
}

/* Menú desplegable */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    padding: 10px;
}

nav ul li:hover > ul {
    display: block;
}

/* Estilos del contenido */
main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.course {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.course:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.course h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.course p {
    color: #666;
}

/* Estilos adicionales para los botones "Más información" */
.course .more-info-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Cambiamos el cursor a una mano para indicar que es interactivo */
}

.course .more-info-btn:hover {
    background-color: #ffc107;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
